# Ignora tudo dentro de Documentos
Documentos/*

# Libera a pasta Documentos para que exceções funcionem
!Documentos/

# Libera arquivos específicos que você quer que apareçam
!Documentos/Artigo TCC (Lucas Mendonça).pdf
!Documentos/Banner TCC.pdf

# Libera pasta e arquivos dentro dela
!Documentos/Telas_app/
!Documentos/Telas_app/**
