# Ignorar tudo dentro da pasta Documentos
Documentos/*

# Não ignorar a própria pasta para permitir exceções
!Documentos/

# Ignorar extensões globais fora da pasta Documentos (se desejar)
# *.docx
# *.doc
# *.pdf

# Liberar arquivos específicos dentro de Documentos
!Documentos/Artigo TCC (Lucas Mendonça).pdf
!Documentos/Banner TCC.pdf
!Documentos/Telas_app/
